#include "/home/pjj/.config/baskerville-ivorylight"

URxvt.font: xft:Sauce Code Powerline:size=15
!URxvt.font: Input-Regular_(InputMonoNarrow-Light)
URxvt.fontspace: -6
URxvt.jumpScroll: false
URxvt.scrollBar: false
URxvt.fading: 15
URxvt.internalBorder: 5
URxvt.externalBorder: 5
URxvt.tripleclickwords: true
URxvt.transparent: true
URxvt.shading: 15

URxvt*saveLines: 12000
URxvt*scrollstyle:plain
URxvt*cursorBlink: true
URxvt*cursorUnderline: true
 
! urxvt tabs settings:
 
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: 8
URxvt.tabbed.autohide:  yes
URxvt.tabbed.new-button:  no
URxvt.tabbed.title: no

! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:3c1d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
! "Color scheme window" Set from: File
rofi.color-window:                   argb:f22d303b, #7c8389, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                solid
